
body {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100vw;
    background-image: url("../BGimg/DWPBaggrund.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;

}


/*       MENU        */
.menubox {
    position: absolute;
    height: 12vh;
    width: 100vw;
    background-color: rgba(10, 10, 10, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

#logo {
    height: 80px;
    width: 80px;
    margin-left: 15px;

}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    height: 30px;
    width: 40vw;
    border-radius: 50px;
}


#searchicon {
    height: 20px;
    width: auto;
    opacity: 0.5;
    margin-right: 10px;
}

#usericon {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    opacity: 0.5;
}



/*       INDEX       */

.content {
    position: absolute;
}

.uploadBtn {
    height: 100%;
    width: 100%;
    background-color: #888;
    margin: 10px;
    border-radius: 20px;
    color: fff;
    z-index: 1;
}



input[type=file]::file-selector-button {
    cursor: pointer;
    opacity: 0;

}

#myBtn {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #DDB3B3;
    color: white;
    border: none;
    font-size: 40px;
    position: fixed;
    top: 80%;
    left: 47.9%;
    z-index: 1222;
}

#myBtn:hover {
    cursor: pointer;
    background-color: rgb(227, 205, 205);
}

#test {
    color: white;
}

.uloadplus {
    font-size: 50px;
    color: white;
}


    .CommentText {
        overflow: auto;
        resize: vertical;
        width: 95%;
    }

    .commentSubmit {
        background-color: #DDB3B3;
        border-radius: 10px;
        margin-bottom: 5%;
        height: 31px;
        color: white;
        border: none;
    }

    .likeButtons {
        display: flex;
        margin-bottom: 2%;
        gap: 1%
    }

    .like-button {
        background-color: #DDB3B3;
        border-radius: 10px;
        height: 22px;
        width: 30px;
        color: black;
        font-size: 12px;
    }

    .dislike-button {
        background-color: #DDB3B3;
        border-radius: 10px;
        height: 22px;
        width: 30px;
        color: black;
        font-size: 12px;
    }


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 10%;
    top: 10%;
    width: 80vw;
    /* Full width */
    height: 70vh;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(255, 255, 255);
    /* Fallback color */
    background-color: rgba(255, 255, 255, 0.9);
    /* Black w/ opacity */
    border-radius: 20px;
}

/* Modal Content/Box */


.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.modalbox {
    display: flex;
    height: 96.5%;

}

#modalform {
    height: 100%;
}

.modalLeft {
    width: 35%;
    height: 100%;
    margin-right: 20px;
}

.modalRight {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.mTitle {
    width: 90%;
    border-radius: 100px;
    filter: drop-shadow(1px 1px 0 grey);
    height: 20px;
    border: 0.1px solid grey;
    margin-bottom: 30px;

}

.mDesc {
    width: 90%;
    border-radius: 20px;
    filter: drop-shadow(1px 1px 0 grey);
    border: 0.1px solid grey;
}


/* The Close Button */
.close {
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 3;
    right: 9;
    opacity: 0;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.submitBtn {
    height: 30px;
    width: 75px;
    border-radius: 10px;
    background: #e3dfd3;
    border: none;
    position: absolute;
    bottom: 5%;
    right: 5%;
}










/*        MODAL IMAGE        */

.imageModal {
    position: absolute;
    top: 12%;
    display: flex;
    flex-wrap: wrap;
}

#imageDisplay {
    margin-left: 4%;
    margin-top: 5%;
    border-radius: 20px;
    transition: 0.5s;
}

#imageDisplay:hover {
    cursor: pointer;
    opacity: 0.9;
}


/* Style for the modal */
.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.imgContainer {
    max-width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
}

#modalImage {
    border-radius: 20px;
    height: 97.5%;
    width: auto;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0px solid black !important;
}

.modal-open .modal {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    width: 85%;
}

.modal-body {
    position: absolute;
    right: 15%;
    display: flex;
    height: 80vh;
    width: 70vw;
    padding: 0;
    border-radius: 20px;

}

.popupLeft {
    width: 35%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border-radius: 20px 0% 0% 20px;
}

.popupRight {
    width: 65%;
    height: 100%;
    background-color: white;
    padding-left: 2.5%;
    border-radius: 0 20px 20px 0;
    overflow-y: auto;
    max-height: 100%;
}

.imgProfileDisplay {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}

#modalAvatar {
    margin-right: 3%;
}

#modalUsername {
    font-weight: bold;
    font-size: 16px;
}

.rules a {
    text-decoration: none;
    color: white;
}

.toLogin {
    border-radius: 16px;
    border: none;
    height: 33px;
    width: 89px;
    background-color: #ddb3b3;
    color: white;
    margin-left: 45px;
    position: absolute;
    margin-top: -17px;
}


/* profile */


.profile {
    background: white;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 10px;
}

form {
    text-align: left;
    display: flex;
    flex-direction: column;
}


input[type="text"],
input[type="password"] {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    width: 96%;
}

input[type="submit"] {
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: #ddb3b3;
    color: white;
    cursor: pointer;
    width: 16%;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile img {
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
}

.profile h2 {
    margin-bottom: 10px;
    text-align: center;
}

.profile p {
    margin-bottom: 5px;
    margin-left: 43px;
}

.logout {
    display: flex;
    justify-content: flex-end;
}

.logout-btn {
    background-color: #ddb3b3;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.file-avatar {
    position: absolute;
    margin-top: 100px;
    margin-left: -2%;
    color: grey;
    font-size: 11px;

}

.upload-button {
    width: 53px !important;
    position: absolute;
    margin: 103px -302px;
}

/* newuser */


p {
    font-size: 11;
}

h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin: auto;

}

.newuser {
    max-width: 400px;
    margin: 150px auto;
    background-color: #ffffff;
    padding: 27px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


label {
    display: block;
    margin-bottom: 10px;
}

.newuser-input[type="text"],
.newuser-input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.newuser-input[type="submit"] {
    width: 100%;
    background-color: #ddb3b3;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 11px;
    font-family: 'Montserrat', sans-serif;
}

.newuser-submit[type="submit"]:hover {
    background-color: #e6cdcd;
}

/* login */





#loginForm {
    max-width: 400px;
    margin: 150px auto;
    background-color: #ffffff;
    padding: 27px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 12px;
    color: #9b9b9b;
    margin-top: -4px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input[type="submit"] {
    width: 100%;
    background-color: #ddb3b3;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 11px;
}

input[type="submit"]:hover {
    background-color: #e6cdcd;
}

/* edit */


    .logout {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
    }

    .logout-btn {
        background-color: #ddb3b3;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    .edit-container {
        display: flex;
        flex-direction: column;

    }

    .edit-btn {
        width: 20%;
        background-color: #ddb3b3;
        color: #fff;
        padding: 15px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 20px;
    }

    .user-info {
        margin-top: 20px;
        background-color: #f0f0f0;
        padding: 15px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
    }

    .blocked {
        color: red;
        font-weight: bold;
    }


    /* about */
    
    .tekst {
        padding-top: 7.5%;
        margin-left: 2%;
        width: 70vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }

    .omospara {
        margin-bottom: 5%;
    }



/* rules */
.centered-text {
    text-align: justify;
    width: 40%;
    margin-top: 70px;
    margin-left: 70px;
}


/* logic/classes */


    .commment-box {
        border: 1px solid gray;
        width: 95%;
        height: auto;
        padding: 2%;
        margin-bottom: 1%;
        border-radius: 20px;
    }

    .userBox {
        display: flex;
        align-items: center;
        gap: 2%;
    }

    #commentAvatar {
        height: 40px;
        width: 40px;
        border-radius: 980px;
        object-fit:cover;
    }

    .userNameComment {
        color: grey;
        opacity: 0.9;
    }

    .datoComment {
        color: grey;
        opacity: 0.9;
        font-size: 12px;
    }

    .msgComment {
        color: black;
    }
